[Unit]
Description=MailHog Service
After=network.service

[Service]
Type=simple
ExecStart=/root/go/bin/MailHog > /dev/null 2>&1 &

[Install]
WantedBy=multi-user.target